setuptools==65.5.0
opencv-python==4.5.4.60
colorama 
gym
numpy 
opencv_python 
pytest 
pytorch3d 
scipy 
setuptools 
stable_baselines3==1.7.0
torchgeometry 
moviepy 
imageio 
wandb 
hydra-core 
uuid
tensorboard